{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}

    
<div class = "first-page">  
    <div class="back"> 
        <img class="back_img" src="{% static 'bookshelf/back.png' %}"/>
    </div>
    <div class = "temp"> 
            {% if user.is_authenticated %}
                <div class = "achievement">
                    <div class = "aboutpages"> 지금까지: {{user.profile.already}}쪽 </div>
                    <div class = "totalpc">
                        <div class = "achievepc" style="width: calc(500px * {{user.profile.already}} / {{user.profile.goal}})"></div>
                    </div>
                    <div class = "aboutpages"> 목표독서량: {{user.profile.goal}}쪽 </div>
                </div>

                <div class = "myshelf">
                    {% if user.profile.goal == 2000 %} 
                        <div class = "myshelf1">
                            <div class = "shelf">
                                    {% for userbook in ub1 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                            </div>
                        </div>
                    {% elif user.profile.goal == 4000 %}
                        <div class = "myshelf2">
                            <div class = "shelf">
                                    {% for userbook in ub1 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}  
                            </div>       
                            <div class = "shelf">
                                    {% for userbook in ub2 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                            </div>
                        </div>
                    {% elif user.profile.goal == 6000 %}
                        <div class = "myshelf3">
                                <div class ="shelf">
                                    {% for userbook in ub1 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub2 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub3 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                        </div>
                    {% elif user.profile.goal == 8000 %}
                        <div class = "myshelf4">
                                <div class="shelf">
                                    {% for userbook in ub1 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub2 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub3 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub4 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>      
                        </div>
                    {% elif user.profile.goal == 10000 %}
                        <div class = "myshelf5">
                                <div class="shelf">
                                    {% for userbook in ub1 %}
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub2 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub3 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub4 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shelf">
                                    {% for userbook in ub5 %}                                       
                                        <a class="showmodal" href="#showModal" data-toggle="modal" data-id={{ userbook.id }} style = "width: calc(100% * {{userbook.whole_page}}/2000); height: 104px;"> 
                                            <div class="book-{{userbook.color}}" id ="{{userbook.id}}" style = "height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; vertical-align:middle;"> 
                                                <div style = "writing-mode: vertical-lr; text-orientation: upright; letter-spacing: 0em; word-spacing: -1em;">
                                                    {{userbook.bookid.title}} 
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endif %}
                </div>
                <div class = "newbook-btn">        
                    <button type="button" data-toggle="modal" data-target="#createModal" class="newbook">
                        책 꽂아넣기
                    </button>        
                </div>
                
            {% else %}
            
                <div class="back"> 
                    <img class="back_img" src="{% static 'bookshelf/back.png' %}"/>
                    <img class="back_img1" src="{% static 'bookshelf/bar.png' %}"/>
                    <img class="back_img2" src="{% static 'bookshelf/book1.png' %}"/>
                    <img class="back_img3" src="{% static 'bookshelf/book2.png' %}"/>
                    <img class="back_img4" src="{% static 'bookshelf/logo.png' %}"/>
                </div>
            {% endif %}
    </div>

    <div class = "friendslist-btn">
        {% if user.is_authenticated %}
            {% for friend in follows %}
                <div class="friend-list" style="display: none;"> <!--나머지 댓글의 경우 toggle-comment라는 클래스를 적용하고 보이지 않게 설정합니다-->
                    <p>{{friend.nickname}}</p>
                    <button class="more-friendlist-btn"> Friend list </button>
                    {% csrf_token %}
                </div> 
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}