{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}
    {% comment %} 임시임시 구조 {% endcomment %}
<div class = "first-page">    
    <div class = "temp"> 
        {% if user.is_authenticated %}
            <img class="back_img" src="{% static 'bookshelf/read.jpg'  %}">
        {% else %}
            <div> 
                <img class="back_img" src="{% static 'bookshelf/read.jpg' %}"/>
            </div>
        {% endif %}
    </div>
    <div class = "newbook-btn">
        {% if user.is_authenticated %}
            <button type="button" data-toggle="modal" data-target="#createModal" class="newbook">
                <img src="{% static 'bookshelf/newbook.png'  %}">
            </button>
        {% endif %}
    </div>
</div>

{% endblock content %}