{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}
    {% comment %} 임시임시 구조 {% endcomment %}
<div class = "first-page">    
    <div class = "temp"> 
        {% if user.is_authenticated %}
            <div class = "myshelf">
                {% if user.profile.goal == 1000 %} 
                {% comment %} 목표 독서량별 그림 수정 필요  {% endcomment %}
                    <img class = "myshelf1" src="{% static 'bookshelf/read.jpg' %}"/> 
                {% elif user.profile.goal == 2000 %}
                    <img class = "myshelf2" src="{% static 'bookshelf/read.jpg' %}"/>
                {% elif user.profile.goal == 3000 %}
                    <img class = "myshelf3" src="{% static 'bookshelf/read.jpg' %}"/>
                {% elif user.profile.goal == 5000 %}
                    <img class = "myshelf4" src="{% static 'bookshelf/read.jpg' %}"/>
                {% elif user.profile.goal == 10000 %}
                    <img class = "myshelf5" src="{% static 'bookshelf/read.jpg' %}"/>
                {% endif %}
            </div>
            {% comment %} <div class = "book_counted">
                {% if %}

                {{UserBook.whole_page}}

            </div> {% endcomment %}

        {% else %}
            <div> 
                <img class="back_img" src="{% static 'bookshelf/read.jpg' %}"/>
            </div>
        {% endif %}
    </div>
    <div class = "newbook-btn">
        {% if user.is_authenticated %}
            <button type="button" data-toggle="modal" data-target="#createModal" class="newbook">
                <img src="{% static 'bookshelf/newbook.png'  %}">
            </button>
        {% endif %}
    </div>
    <div class = "friendslist-btn">
        {% if user.is_authenticated %}
            {% for friend in follow %} <!--마지막 댓글의 경우-->
                <div class="friend-list" style="display: none;"> <!--나머지 댓글의 경우 toggle-comment라는 클래스를 적용하고 보이지 않게 설정합니다-->
                    <p>{{friend.nickname}}</p>
                    <button class="more-friendlist-btn"> Friend list </button>
                    {% csrf_token %}
                </div> 
        {% endif %}
    </div>
</div>

{% endblock content %}  