svg circle {
    opacity: .5;
    stroke: white;
  }

svg circle:hover {
    stroke: #333;
  }
svg .axis line, svg .axis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }
svg .axis text {
      font: 10px sans-serif;
  }
svg .municipality {
    fill: #efefef;
    stroke: #fff;
  }
svg .municipality-label {
    fill: #bbb;
    font-size: 12px;
    font-weight: 300;
    text-anchor: middle;
  }
svg #map text {
    color: #333;
    font-size: 10px;
    pointer-events: none;
    text-anchor: middle;
  }
svg #places text {
    color: #777;
    font: 10px sans-serif;
    text-anchor: start;
  }

#title {
    position: fixed;
    top: 10px;
    left: 50px;
    width: 500px;
    font-family: sans-serif;
    text-align: left;
  }

  #title p {
    font-size: 10pt;
  }

#chart {
  margin-top:-30px;
  margin-left:170px;
}

.body{
  width:100%;
  height:auto;
}

.header {
  position:fixed;
  z-index: 10;
  top:0px;
  left:0px;
  width:100%;
  height:100px;
  background-color:#fff;
  border-bottom: 0.5px solid rgb(220, 220, 220);
  box-shadow:  0px 0px 3px 3px rgba(0, 0, 0, 0.02) ;
  display:flex;
  flex-direction: column;
}

.title {
 align-content: center;
 text-align:center;
 font-size:30px;
 font-family:  Helvetica, sans-serif;
 font-weight: bold;
 padding-top:30px;
}

.dsc {
 align-content: center;
 text-align:right;
 font-size:13px;
 padding-right:7px;
}

.article {
  margin-top:150px;
  text-align: center;
}

.warn {
  position: relative;
  margin-top:-50px;
}


.filter{
  position: relative;
  top:-80px;
  display: flex;
  justify-content: space-evenly;
  width: 520px;
  left: 350px;
}

.all, .red, .orange, .yellow, .green {
  border-radius: 15px;
  background-color:  #efefef;
  text-decoration: none;
  font-size: 13px;
  width:70px;
  height:25px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  font-weight: bold;
  color:#333;

}

.all:hover, .red:hover, .orange:hover, .yellow:hover, .green:hover {
  background-color:  #bbb;
  text-decoration-color: #fff;
  font-weight: bold;
  font-size: 13px;
}

a {

  text-decoration: none;
  color:#777;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color:#fff;
}

.footer {
  position: relative;
  z-index: 10;
  left:0px;
  width:100%;
  height:200px;
  background-color:rgb(240, 240, 240);
  border-top: 0.5px solid rgb(220, 220, 220);
  box-shadow:  3px 3px 0px 0px rgba(0, 0, 0, 0.02) ;
  display:flex;
  flex-direction: column;
  padding-left: 20px;
 
}

.footer.p {
  font-size:8px;
}


.article.tooltip {
  background-color: lightsteelblue;
  border: solid 1px;
  border-radius:5px;
  padding:10px;
  width:200px;
  position:absolute;
  left:100px;
  top:1000px;
} 
