html, body {
  width: 100%;
  margin: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222; }

.custom-radios div {
  display: inline-block; }

.custom-radios input[type="radio"] {
  display: none; }
  .custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px; }
    .custom-radios input[type="radio"] + label span {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      line-height: 44px; }
      .custom-radios input[type="radio"] + label span img {
        opacity: 0;
        transition: all .3s ease; }
  .custom-radios input#color-1[type="radio"] + label span {
    background-color: #3F7373; }
  .custom-radios input#color-2[type="radio"] + label span {
    background-color: #89BEBF; }
  .custom-radios input#color-3[type="radio"] + label span {
    background-color: #F28F78; }
  .custom-radios input#color-4[type="radio"] + label span {
    background-color: #F0C1B5; }
  .custom-radios input#color-5[type="radio"] + label span {
    background-color: #F2F2F2; }
  .custom-radios input[type="radio"]:checked + label span img {
    opacity: 1; }

body {
  width: 100%;
  margin: 0px; }

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-bottom: 0.5px solid gainsboro;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.02);
  z-index: 5; }

.login {
  margin-left: 90%;
  margin-top: 30px;
  text-align: right; }

.first-page {
  position: relative;
  width: 100%; }

.temp {
  position: absolute;
  top: 150px;
  width: 100%;
  vertical-align: middle; }

.back_img {
  width: 100%;
  position: absolute;
  z-index: 0; }

.back_img1 {
  width: 100%;
  z-index: 1;
  position: relative; }

.newbook-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: none; }

.newbook img {
  width: 200px;
  height: 100px; }

.color-box {
  display: flex;
  justify-content: center; }

.color-box button {
  width: 100px;
  height: 50px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px; }

button.newbook {
  border: none;
  background-color: none; }

.friendslist-btn {
  position: relative;
  top: 200px; }

.friend-list > p {
  display: inline; }

.myshelf {
  padding-top: 30px;
  padding-bottom: 150px;
  width: 100%;
  display: block;
  height: 1000px; }

.shelf {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #DDDDDD;
  border: 30px solid #f2f2f2;
  border-radius: 10px; }

.myshelf1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
  margin: 0 auto; }

.myshelf2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  margin: 0 auto; }

.myshelf3 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  margin: 0 auto; }

.myshelf4 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto; }

.myshelf5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.fr {
  display: flex; }

.book-1 {
  background-color: #3F7373; }

.book-2 {
  background-color: #89BEBF; }

.book-3 {
  background-color: #F28F78; }

.book-4 {
  background-color: #F0C1B5; }

.book-5 {
  background-color: #F2F2F2; }

.achievement {
  text-align: center;
  margin: 0px auto; }

.aboutpages {
  display: inline-block; }

.totalpc {
  display: inline-block;
  margin: 0px auto;
  width: 500px;
  background-color: pink;
  height: 50px; }

.achievepc {
  left: 0px;
  background-color: blue;
  height: 50px; }

.booktitle {
  font-size: 5px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */